<% include ../partials/header %>

<div class="container">
	<h1 class="formHeader">Edit this Campground</h1>

	<div class="form">
		<form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
			<label for="location">Name</label>
			<input class="form-control" type="text" name="campground[name]" value="<%= campground.name %>">
			<label for="location">Image</label>
			<input class="form-control" type="text" name="campground[image]" value="<%= campground.image %>">
			<label for="location">Description</label>
			<textarea id="description" class="form-control" name="campground[description]"><%= campground.description %></textarea>
			<label for="location">Location</label>
			<input class="form-control" type="text" name="location" value="<%= campground.location %>">
			<button class="btn-primary btn submitBtn">Edit It</button>
		</form>
	</div>
	
</div>

<% include ../partials/footer %>